.split-box {
	width: 100%;
	display: flex;
	align-items: stretch;

	&-container {
		padding: 5%;
		vertical-align: middle;
		overflow: hidden;

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
		}

		.content {
			position: relative;
			z-index: 3;
		}
	}

	.split-box-inner {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@include sm_screen() {
		display: block;
	}
}